  * {
    margin: 0;
    padding: 0;
    color: white;
    cursor: none;
  }
  .cursor1{
    height: 30px;
    width: 30px;
    background-color: rgba(255, 179, 0, 0.5) ;
    border-radius: 100px;
    position: absolute;
    transition: 0.05s;
  }
  .cursor2{
    height: 20px;
    width: 20px;
    background-color: rgba(255, 179, 0, 0.25) ;
    // background-color: white;
    border-radius: 100px;
    position: absolute;
    transition: 0.15s;
  }
  // .cursor3{
  //   height: 20px;
  //   width: 20px;
  //   background-color: rgba(255, 179, 0, 0.25) ;
  //   // background-color: white;
  //   border-radius: 100px;
  //   position: absolute;
  //   transition: 0.30s;
  // }

  .page {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border:2px solid yellow;
  }

  .navbar{
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 2px solid purple;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    
    .headline{
      display: flex;
      flex-direction: row;
      height: 100%;
      // justify-content: space-between;
      // border: 2px solid green;
      .img{
        // background-color: white;
        // border-radius: 1000px;
        // height: 100%;
        // width: 75px
      }
      p{
        // background-color: red;
        margin: 2vh 0vw 0 4vw;
        font-size: 50px;
        // border: 2px solid red;
      }
    }
    
    ul{
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      // border: 3px solid green;
      a{
        align-items: center;
        text-decoration: none;
        // margin: 0 5vw 0 5vw;
        // border: 2px solid red;
        border-radius: 10px;
        padding: 3vw 3vw 3vw 3vw;
        &:hover{
          color: rgb(255, 179, 0);
        }
      }
    }
  }

  .home{
    height: 100%;
    // padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
    p{
      margin: 1vh;
      // border: 1px solid red;
      font-size: 8vh;
      span{
        color: rgb(255, 179, 0);
        padding: 0 10px 0 10px;
        border-radius: 30px;
        &:hover{
          transition-duration: 0.5s;
          background-color: rgba(255, 179, 0);
          color: black;
        }
      }
    }
  }

  .achievements{
    // border: 2px solid red;
    height: 60vh;
    width: 80vw;
    .content{
      padding: 50px;
      h1{
        font-size: 5vh;
        span{
          color: rgba(255, 179, 0);
        }
      }
      .points{
        padding-top: 2vh;
        p{
          font-size: 3vh;
          margin-top: 1vh;
          &:before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: rgba(255, 179, 0); /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
          }
        }
      }
    }
    .decor{
      height: 30px;
      width: 30px;
      background-color: rgba(255, 179, 0, 0.10) ;
      border-radius: 100px;
      position: absolute;
      transition: 0.10s;
      max-height: 60vh;
      max-width: 85vw;
      align-items: left;
    }
  }

  .experience{
    // border: 2px solid red;
    height: 60vh;
    width: 80vw;
    // position: relative;
    .content{
      padding: 40px;
      h1{
        font-size: 5vh;
        span{
          color: rgba(255, 179, 0);
        }
      }
      .points{
        padding-top: 2vh;
        h2{
          p{
            font-size: 4vh;
            margin-top: 1vh;
            &:before {
              content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
              color: rgba(255, 179, 0); /* Change the color */
              font-weight: bold; /* If you want it to be bold */
              display: inline-block; /* Needed to add space between the bullet and the text */
              width: 1em; /* Also needed for space (tweak if needed) */
              margin-left: -1em; /* Also needed for space (tweak if needed) */
            }
          }
          span{
            font-size: 3vh;
            margin: 0;
            margin-left: 0.45em;
            // background-color: red;
          }
        }
        small{
          margin-left: 0.5em;
          // padding-top: 50px;
          // margin-top: 5em;
          font-size: 3vh;
          // border: 2px solid red;
        }
      }
    }
    
  }
  .projects{
    // border: 2px solid red;
    height: 60vh;
    width: 80vw;
    .content{
      // border: 2px solid red;
      width: 100%;
      height: 100%;
      padding: 0px;
      h1{
        font-size: 5vh;
        span{
          color: rgba(255, 179, 0);
        }
      }
      table{
        // border: 2px solid red;
        tr{
          // border: 2px solid green;
          td{
            border: 5px solid black;
            border-radius: 20px;
            margin: 20px;
            height: 10vw;
            padding: 20px;
            &:hover{
              background-color: rgba(255, 179, 0);
              color: black;
            }
          }
        }
      }
    }
    
  }

  
  .skills{
    // border: 2px solid red;
    height: 60vh;
    width: 80vw;
    .content{
      // border: 2px solid red;
      width: 100%;
      height: 100%;
      padding: 0px;
      h1{
        font-size: 5vh;
        span{
          color: rgba(255, 179, 0);
        }
      }
      table{
        // border: 2px solid red;
        // width: 100%;
        tr{
          // border: 2px solid green;
          td{
            border: 5px solid black;
            border-radius: 20px;
            margin: 20px;
            padding: 20px;
            height: 5vw;
            width: 30vw;
            background-color: rgba(255, 179, 0, 0.5);
            &:hover{
              // color: black;
          color: rgba(255, 179, 0);

            }
            
          }
        }
      }
    }
    
  }

  .contact{
    // border: 2px solid red;
    height: 60vh;
    width: 80vw;
    .content{
      // border: 2px solid red;
      width: 100%;
      height: 100%;
      padding: 0px;
      h1{
        font-size: 5vh;
        span{
          color: rgba(255, 179, 0);
        }
      }
      
    }
    .form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2vw;
      input{
        color: black;
        width: 100%;
        padding: 10px;
        margin: 5px;
        border-radius: 50px;
      }
      textarea{
        color: black;
        width: 100%;
        padding: 20px;
        margin: 5px;
        border-radius: 50px;
      }
      div{
        width: 30%;
        padding: 10px;
        margin: 5px;
        border-radius: 50px;
        background-color: rgb(255, 179, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
         background-color: rgb(165, 116, 0);
       } 
      }
    }
  }